  <div id="header" data-scroll-smoothed>
	  <div class="header_top">
	    <div class="container">
	      <div class="row">
	        <div class="grid_12">
	          <h1><a href="#">Photo.Folio <br> Capturing Life </a></h1>
	          your photographer
	        </div>
	      </div>
	    </div>
	  </div>
	  <section id="stuck_container">
	  <!--==============================
	              Stuck menu
	  =================================-->
	    <div class="container">
	      <div class="row">
	        <div class="grid_12 ">
	          <h1 class="logo">
	            <a href="#/home">
	              logo
	            </a>
	          </h1>
	          <div class="navigation">
	            <nav>
	              <ul class="sf-menu">
	               <li class="current"><a href="#home">首页</a></li>
	               <li><a href="#blog">博客</a></li>
	               <li><a href="#production">作品</a></li>
	               <li><a href="#photo">图库</a></li>
	               <li><a <a href="#admin">管理</a></li>
	             </ul>
	            </nav>
	            <div class="clear"></div>
	          </div>       
	         <div class="clear"></div>  
	        </div>
	     </div> 
	    </div> 
	  </section>
  </div>
